table.tengah td{
text-align: center;
}
.pas2{
	padding-top: 0.5em;
}

table.noborder td{
border: 0;
}
table.nwr td,th{
 white-space: nowrap;
}
.flo{
overflow-x:auto;
}
table.jarak td{
padding-right: 1em;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}
.tultip{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.text-justify{
    text-align: justify;
}
table.foot{
    margin-bottom: -0.5rem;
}
.thumb{
    clear: both;
  }
  .tipesoal{
    margin-left:0em
  }
  .pagi{
    margin-left:0em
  }
  .tebal{
    font-weight: bold;
  }
  .peny{
    font-weight: bold;
    font-size: large;
  }
  details {
width: 100%;
margin: 0 auto ;
margin-bottom: .5rem;
box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
border-radius: 5px;
overflow: hidden;
}

summary {
    padding: .3rem;
    display: block;
    background: #E6DCDB;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
content: '';
border-width: .4rem;
border-style: solid;
border-color: transparent transparent transparent rgb(153, 0, 0);
position: absolute;
top: .6rem;
left: 1rem;
transform: rotate(0);
transform-origin: .2rem 50%;
transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
transform: rotate(90deg);
}


details summary::-webkit-details-marker {
display:none;
}
details > ul {
padding-bottom: .4rem;
margin-bottom: 0;
}
th{
  background-color:darkolivegreen;
  color: aliceblue;
}
body{
  font-family: "Montserrat";
  font-weight: 600;
}
.bq{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    margin-left: 100px;
}
details{
    padding-top: .5em;
}